<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vehiculo"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #vehiculoForm="ngForm" (ngSubmit)="onSubmitVehiculo(vehiculoForm)">
    <ion-list>
      <ion-list-header>
        <ion-label color="primary">Datos del Vehículo</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select placeholder="Seleccione un Tipo" name="tipo" #tipo="ngModel" [(ngModel)]="temporalTipoVehiculo"
          required>
          <ion-select-option *ngFor="let tipo of listaTipoVehiculo" [value]="tipo.id">{{ tipo.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" lines="none">
        <ion-label *ngIf="tipo.errors.required" color="danger">El tipo de vehículo es requerido.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input type="text" name="marca" #marca="ngModel" [(ngModel)]="temporalVehiculo.marca" required
          maxlength="255"></ion-input>
      </ion-item>
      <ion-item *ngIf="marca.invalid && (marca.dirty || marca.touched)" lines="none">
        <ion-label *ngIf="marca.errors.required" color="danger">La marca es requerida.</ion-label>
        <ion-label *ngIf="marca.errors.maxlength" color="danger">
          Supero el tamaño maximo de caracteres.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Color</ion-label>
        <ion-input type="text" name="color" #color="ngModel" [(ngModel)]="temporalVehiculo.color" required
          maxlength="255"></ion-input>
      </ion-item>
      <ion-item *ngIf="color.invalid && (color.dirty || color.touched)" lines="none">
        <ion-label *ngIf="color.errors.required" color="danger">El color es requerido.</ion-label>
        <ion-label *ngIf="color.errors.maxlength" color="danger">
          Supero el tamaño maximo de caracteres.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Placa</ion-label>
        <ion-input type="text" name="placa" #placa="ngModel" [(ngModel)]="temporalVehiculo.placa" required
          maxlength="255"></ion-input>
      </ion-item>
      <ion-item *ngIf="placa.invalid && (placa.dirty || placa.touched)" lines="none">
        <ion-label *ngIf="placa.errors.required" color="danger">La placa es requerida.</ion-label>
        <ion-label *ngIf="placa.errors.maxlength" color="danger">
          Supero el tamaño maximo de caracteres.
        </ion-label>
      </ion-item>
      <!-- Datos en caso el tipo de vehículo sea MOTO -->
      <section *ngIf="temporalTipoVehiculo === 1">
        <ion-list-header margin-top>
          <ion-label color="primary">Detalles de la Moto</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label position="floating">KM de la moto</ion-label>
          <ion-input type="number" name="km" #km="ngModel" [(ngModel)]="temporalVehiculo.km" required maxlength="255">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="km.invalid && (km.dirty || km.touched)" lines="none">
          <ion-label *ngIf="km.errors.required" color="danger">El km es requerido.</ion-label>
          <ion-label *ngIf="km.errors.maxlength" color="danger">
            Supero el tamaño maximo de caracteres.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tiempo de Uso</ion-label>
          <ion-input type="number" name="tiempo" #tiempo="ngModel" [(ngModel)]="temporalVehiculo.tiempoUso" required
            maxlength="255"></ion-input>
        </ion-item>
        <ion-item *ngIf="tiempo.invalid && (tiempo.dirty || tiempo.touched)" lines="none">
          <ion-label *ngIf="tiempo.errors.required" color="danger">El tiempo de uso es requerido.</ion-label>
          <ion-label *ngIf="tiempo.errors.maxlength" color="danger">
            Supero el tamaño maximo de caracteres.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Motor</ion-label>
          <ion-input type="text" name="motor" #motor="ngModel" [(ngModel)]="temporalVehiculo.motor" required
            maxlength="255"></ion-input>
        </ion-item>
        <ion-item *ngIf="motor.invalid && (motor.dirty || motor.touched)" lines="none">
          <ion-label *ngIf="motor.errors.required" color="danger">El motor es requerido.</ion-label>
          <ion-label *ngIf="motor.errors.maxlength" color="danger">
            Supero el tamaño maximo de caracteres.
          </ion-label>
        </ion-item>
      </section>
      <!-- Datos del Propietario -->
      <ion-list-header margin-top>
        <ion-label color="primary">Datos del Propietario</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="temporalVehiculo.propietario.nombre" required
          maxlength="255"></ion-input>
      </ion-item>
      <ion-item *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" lines="none">
        <ion-label *ngIf="nombre.errors.required" color="danger">El nombre es requerido.</ion-label>
        <ion-label *ngIf="nombre.errors.maxlength" color="danger">
          Supero el tamaño maximo de caracteres.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="temporalVehiculo.propietario.apellido"
          required maxlength="255"></ion-input>
      </ion-item>
      <ion-item *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" lines="none">
        <ion-label *ngIf="apellido.errors.required" color="danger">El apellido es requerido.</ion-label>
        <ion-label *ngIf="apellido.errors.maxlength" color="danger">
          Supero el tamaño maximo de caracteres.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">D.N.I.</ion-label>
        <ion-input type="text" name="dni" #dni="ngModel" [(ngModel)]="temporalVehiculo.propietario.dni" required
          minlength="8" maxlength="8" pattern="^[0-9]*$"></ion-input>
      </ion-item>
      <ion-item *ngIf="dni.invalid && (dni.dirty || dni.touched)" lines="none">
        <ion-label *ngIf="dni.errors.required" color="danger">El DNI es requerido.</ion-label>
        <ion-label *ngIf="dni.errors.pattern" color="danger">El DNI debe contener solo números.</ion-label>
        <ion-label *ngIf="dni.errors.minlength || dni.errors.maxlength" color="danger">
          El DNI debe ser de 8 caracteres.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">N° de Licencia</ion-label>
        <ion-input type="text" name="licencia" #licencia="ngModel" [(ngModel)]="temporalVehiculo.propietario.numLicencia"
          required minlength="9" maxlength="9"></ion-input>
      </ion-item>
      <ion-item *ngIf="licencia.invalid && (licencia.dirty || licencia.touched)" lines="none">
        <ion-label *ngIf="licencia.errors.required" color="danger">La licencia es requerido.</ion-label>
        <ion-label *ngIf="licencia.errors.minlength || licencia.errors.maxlength" color="danger">
          La licencia debe ser de 9 caracteres.
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button margin-vertical type="submit" expand="block">Guardar</ion-button>
  </form>
</ion-content>
