<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" formControlName="correo" required></ion-input>
      </ion-item>
      <ion-item *ngIf="correo.invalid && (correo.dirty || correo.touched)" lines="none">
        <ion-label *ngIf="correo.errors.required" color="danger">El correo es requerido.</ion-label>
        <ion-label *ngIf="correo.errors.email" color="danger">El correo debe ser valido.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
      <ion-item *ngIf="password.invalid && (password.dirty || password.touched)" lines="none">
        <ion-label *ngIf="password.errors.required" color="danger">La contraseña es requerido.</ion-label>
        <ion-label *ngIf="password.errors.minlength" color="danger">Debe tener minimo 10 caracteres.</ion-label>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" [disabled]="!loginForm.valid">Ingresar</ion-button>
  </form>
</ion-content>
