<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vehiculo"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del Vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label color="primary">VEHÍCULO</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap>
          <ion-text color="dark">
            <h3>Tipo</h3>
          </ion-text>
          <ion-text color="medium">
            <p>{{ vehiculo.tipo.nombre }}</p>
          </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
          <ion-text color="dark">
            <h3>Marca</h3>
          </ion-text>
          <ion-text color="medium">
            <p>{{ vehiculo.marca }}</p>
          </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
          <ion-text color="dark">
            <h3>Color</h3>
          </ion-text>
          <ion-text color="medium">
            <p>{{ vehiculo.color }}</p>
          </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
          <ion-text color="dark">
            <h3>Placa</h3>
          </ion-text>
          <ion-text color="medium">
            <p>{{ vehiculo.placa }}</p>
          </ion-text>
      </ion-label>
    </ion-item>
    <section *ngIf="vehiculo.tipo.id === 1">
      <ion-item>
        <ion-label text-wrap>
            <ion-text color="dark">
              <h3>N° de KM</h3>
            </ion-text>
            <ion-text color="medium">
              <p>{{ vehiculo.km }}</p>
            </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>
            <ion-text color="dark">
              <h3>Tiempo de Uso</h3>
            </ion-text>
            <ion-text color="medium">
              <p>{{ vehiculo.tiempoUso }}</p>
            </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>
            <ion-text color="dark">
              <h3>Motor</h3>
            </ion-text>
            <ion-text color="medium">
              <p>{{ vehiculo.motor }}</p>
            </ion-text>
        </ion-label>
      </ion-item>
    </section>
    <ion-list-header>
      <ion-label color="primary">PROPIETARIO</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label text-wrap>
          <ion-text color="dark">
            <h3>Nombre</h3>
          </ion-text>
          <ion-text color="medium">
            <p>{{ vehiculo.propietario.nombre }}</p>
          </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
          <ion-text color="dark">
            <h3>Apellido</h3>
          </ion-text>
          <ion-text color="medium">
            <p>{{ vehiculo.propietario.apellido }}</p>
          </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
          <ion-text color="dark">
            <h3>D.N.I.</h3>
          </ion-text>
          <ion-text color="medium">
            <p>{{ vehiculo.propietario.dni }}</p>
          </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
          <ion-text color="dark">
            <h3>N° de Licencia</h3>
          </ion-text>
          <ion-text color="medium">
            <p>{{ vehiculo.propietario.numLicencia }}</p>
          </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
