<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="medium">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Vehiculos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let vehiculo of listaVehiculos; let i=index" button="true" [routerLink]="['/vehiculo', 'ver', i]">
      <ion-label text-wrap>
        <ion-text color="primary">
          <h3>{{ vehiculo.tipo.nombre }}</h3>
        </ion-text>
        <p>{{ vehiculo.marca }}</p>
      </ion-label>
      <ion-buttons *ngIf="usuarioRol === 'ADMINISTRADOR'">
        <ion-button fill="clear" slot="end" size="small" color="medium" (click)="clickEditar($event, i)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button fill="clear" slot="end" size="small" color="medium" (click)="clickEliminar($event, i)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="usuarioRol === 'ADMINISTRADOR'">
    <ion-fab-button [routerLink]="['/vehiculo', 'crear']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
